- content_for(:title)  { "Goose Egg!!" }
- content_for(:header) { "Goose Egg!!" }

%p
  It looks like there is a problem with your account.
  This can happen for a few different reasons, but most often this
  means that either your payment has failed, or that you have
  accidentally unsubscribed yourself from MailChimp.

%p
  I can definitely help you sort this out.
  Just email #{mail_to "gregory@practicingruby.com", nil, :subject => "HELP! #{current_user.github_nickname} has a problem with their Practicing Ruby account"}
  and I will look into the problem as soon as I can.

%p
  While you are waiting for me to get back to you, you might want
  to read or re-read some of my favorite publicly released
  Practicing Ruby articles:

%ul#articles
  %li= link_to "Unobtrusive Ruby in Practice", "http://practicingruby.com/articles/shared/ozkzbsdmagcm"
  %li= link_to "Thoughts on Arguments and Results, Part 1", "http://practicingruby.com/articles/shared/vpxpovppchww"
  %li= link_to "Thoughts on Arguments and Result, Part 2", "http://practicingruby.com/articles/shared/wdykkrmdfjvf"
  %li= link_to "Meditations on Bad and Good Code, Part 1", "http://blog.rubybestpractices.com/posts/gregory/035-issue-6-good-and-bad-code.html"
  %li= link_to "Meditations on Bad and Good Code, Part 2", "http://blog.rubybestpractices.com/posts/gregory/036-issue-7-good-and-bad-code.html"

%p Sorry for the hassle. This will be sorted out in a jiffy!
