.comment{:data => { :id => comment.id,
                    :editable => (comment.editable_by?(current_user)).inspect }}
  .header
    = gravatar(comment.user, 32)
    = link_to_github comment.user
    .controls
      - if comment.editable_by? current_user
        = link_to 'Edit', '#', :class => "edit", :title => "Edit"
        = link_to 'Delete', comment_path(comment),
          :class   => "remove", :title  => "Delete",
          :method  => :delete,  :remote => true,
          :confirm => "Are you sure you wish to delete this comment?"
      - else
        .on
          = time_ago_in_words comment.created_at
          ago
  .content= md(comment.body)
