.comment{:data => { :id => comment.id,
                    :editable => (comment.editable_by?(current_user)).inspect }}
  .header
    = comment.user.icon(48)
    = link_to comment.user.github_nickname,
      user_path(comment.user.github_nickname), :class => "user-profile"
    .controls= comment.controls
    .on
      = comment.time_ago
      ago
    .clear
  .content
    - cache("comment_body_#{comment.id}") do
      = comment.content
