= error_messages_for(@article)

%p
  = f.label :subject
  %br
  = f.text_field :subject
%p
  = f.label :slug
  %br
  = f.text_field :slug
%p
  = f.label :published_time
  = f.date_select :published_time
%p
  = f.label :volume_id
  = f.collection_select :volume_id, Volume.order("number desc"), :id, :number
%p
  = f.label :collection_id
  = f.collection_select :collection_id, Collection.all, :id, :name
%p
  = f.label :issue_number
  %br
  = f.text_field :issue_number
%p
  = f.label :status
  %br
  = f.text_field :status
%p
  = f.text_area :body, :rows => 60, :cols => 80, :'data-preview' => true

= f.submit

