= error_messages_for(@article)

%p
  = f.label :subject
  %br
  = f.text_field :subject
%p
  = f.label :published_time
  = f.date_select :published_time
%p
  = f.label :volume_id
  = f.collection_select :volume_id, Volume.order("number desc"), :id, :number
%p
  = f.label :collection_id
  = f.collection_select :collection_id, Collection.all, :id, :name
%p
  = f.label :issue_number
  %br
  = f.text_field :issue_number
%p
  = f.label :status
  %br
  = f.text_field :status

%p
  = f.label :summary
  %br
  = f.text_area :summary, :rows => 10, :cols => 100
%p
  = f.text_area :body, :rows => 60, :cols => 80, :'data-preview' => true

.control-bar-padding
#control-bar
  .content= f.submit
