%form#article-filter
  Show
  %select
    %option all
    %option favorite
    %option recommended
  articles

%table.archives
  - @articles.each do |article|
    %tr
      - if current_user
        %td.favorite
          = link_to favorite_article_path(article), remote: true,
            method: :post,
            class: "favorite-link #{'favorited' if current_user.favorited?(article)}",
            'data-article-id' => article.id do
            %i.fa.fa-heart
            %i.fa.fa-heart-o
      %td.article
        = link_to article.list_title, article_path(article)
      %td.issue-number= article.issue_number
    %tr
      - if current_user
        %td= # Dedicated column for the favorite link
      %td.description= article.summary
      %td.month= article.published_time.strftime("%B %Y")
