%p{:style => "font-size: 1.05em; color: #666"}
  Welcome to the world's largest open-access collection of lessons
  for experienced Ruby developers! Click on any article
  below to begin your journey, or 
  = link_to "learn more about this project.", about_path

%hr

%table.archives
  %tbody
  - @articles.each do |article|
    %tr
      %td.article
        = link_to article.list_title, article_path(article)
      %td.issue-number= article.issue_number
    %tr
      %td.description= article.summary
      %td.month= article.published_time.strftime("%B %Y")
