#comments
  %hr

  - @comments.each do |comment|
    = render :partial => "comments/show", :locals => {:comment => comment}

  %h3.new-comment Share your thoughts:

  = form_for @article.comments.build do |f|
    = f.hidden_field :commentable_type
    = f.hidden_field :commentable_id

    = f.text_area :body, 'data-preview' => true

    %p
      = f.submit "Comment"
