#comments
  %hr

  - if @comments.empty?
    %p.message
      Looks like the discussion about this article hasn't started yet. 
      Please take a moment to share what's on your mind.
  - else
    - @comments.each do |comment|
      = render :partial => "comments/show", :locals => {:comment => comment}

  = form_for @article.comments.build do |f|
    = f.hidden_field :commentable_type
    = f.hidden_field :commentable_id

    = f.text_area :body, 'data-preview' => true

    %p
      = f.submit "Comment"
