- content_for(:title) do
  #{@article.subject} - #{@article.issue_number}
- content_for(:description) do
  #{@article.summary}
- content_for(:header) do
  %div{:style => "text-align: center; margin: 20  px"}
    = link_to root_path do
      = image_tag "//i.imgur.com/hYoGfNJ.png", :width => "75%"
  .bigtext{style: 'text-align: center;'}
    %div{:style => "padding-top: 40px;"}
      = @article.subject
