- content_for(:header) { @group.header }
- content_for(:title)  { @group.name   }
- content_for(:admin) do
  = button_to "New article", new_admin_article_path, :method => :get

%p= @group.description

- if @articles.any?
  .paginated-list{'data-pjax-container' => ''}
    .controls
      - #TODO DRY please
      = link_to image_tag("controls/next.png"),
        {:page => @articles.next_page},
        :class => "next #{('disabled' unless @articles.next_page )}"
      = link_to image_tag("controls/previous.png"),
        {:page => @articles.previous_page},
        :class => "previous #{('disabled' unless @articles.previous_page )}"
    %ul#articles
      - @articles.each do |article|
        %li= article.list_link

- content_for(:footer) do
  = render 'subway'
  = render 'shared/public_footer'

- unless current_user
  - content_for(:header_bottom) do
    :coffeescript
      $ ->
        $(document).on 'click', '#articles li', =>
          $('footer p.big').addClass('highlight');
