- content_for(:title) { "Articles" }
= render "shared/branded_header", :title => "Articles"
- if params[:new_subscription]
  :coffeescript
    $.facebox '#{escape_javascript render('subscriptions/thanks')}', 'thanks-box'

%p
  There are
  #{link_to "#{@article_count} articles in our archives", '#archives'},
  and new content is added every month. If you're unsure where to get started, or
  just want to catch up on what was recently published, try out one
  of the following articles:

#explore-articles
  #recent
    %h2 Recently published articles
    - @recent.each_with_index do |article, index|
      = render "explore_article", article: article, index: index
  #recommended
    %h2 Recommended articles
    - @recommended.each_with_index do |article, index|
      = render "explore_article", article: article, index: index

#archives
  %h1 Full Archives

  %p
    Below you can browse all of our articles in chronological order.
    Don't be afraid to dig far back into the archives, we try to keep the
    articles as up-to-date as possible.

  = render 'archives'
