- content_for(:title) { @article.full_subject }

:coffeescript
  $ ->
    new PR.ShareBox()

#share-box
  .header Well hello there, stranger. Welcome to Practicing Ruby! 
  
  .personal
    It looks like #{link_to_github @user} has invited you here to check out Issue #{@article.issue_number}.
    %hr

  .subscribe
    This journal is a grassroots effort to produce
    extraordinarily good content for Ruby programmers.
    If you like what you see here, subscribe! It
    only costs $8/month for full access to an 
    ever-growing library of articles, and that
    money directly supports the long term
    sustainability of this project.
    .controls
      %button Subscribe Now &raquo;
  .read
    If you want to start reading now, just click the big
    button below and you'll be on your way. While the discussion
    thread for this article is available to subscribers only,
    you can send your questions to
    = link_to "Gregory Brown", "mailto:gregory.t.brown@gmail.com"
    if you're not quite ready to sign up yet. He would love to
    hear from you.
    .controls
      %button Read Issue #{@article.issue_number} &raquo;

  .clear

#article
  #article_bar= "#{@article.full_subject} (#{@article.published_date})"

  - cache("article_body_#{@article.id}") do
    = md(@article.body)

  #comments
    %hr
    #share_alert
      = link_to_github @user
      liked this article and decided to share it with you.
      If you enjoyed reading it, be sure to check out what
      = link_to "Practicing Ruby", "http://practicingruby.com"
      is all about. There is a lot more great stuff where
      this came from!
