- content_for(:title) { @article.full_subject }

#article
  %h1= @article.full_subject

  - cache("article_body_#{@article.id}") do
    = md(@article.body)

  #comments
    %hr
    #share_alert
      = link_to_github @user
      liked this article and decided to share it with you. 
      If you enjoyed reading it, be sure to check out what
      = link_to "Practicing Ruby", "http://practicingruby.com"
      is all about. There is a lot more great stuff where
      this came from!
