- content_for(:nudge) do
  #share-banner
    %h3 Welcome to Practicing Ruby!
    We produce delightful lessons for Rubyists every month.
    To support our efforts,
    = link_to "become a paid subscriber", root_path
    today!

= render "header"

#article
  - cache("article_body_#{@article.id}") do
    = md(@article.body)

  #share-alert
    The discussion thread for this article is available to subscribers
    only. If you want to share some feedback or ask me a question, please
    = link_to "subscribe", root_path
    ,
    = link_to "log in", article_path(@article.id, :anchor => "comments")
    , or send an email to
    = mail_to "support@elmcitycraftworks.org"
