- content_for(:title) { @subject }

#article
  #share_alert
    = link_to_github @user
    enjoyed this article and decided to share it with you. If you like
    what you see here,
    = link_to "become a subscriber!", "http://practicingruby.com"
    New articles are published every week, and a subscription costs only
    $8/month. You'll also have access to the great community of folks
    who read this newsletter.

  %h1= @article.subject

  = md(@article.body)

  #comments
    %hr
    %p.message{:style => "text-align: center;"}
      By
      = link_to "subscribing now", "http://practicingruby.com"
      you can read the comments about this article and also post your own.
