- content_for(:title) { @article.full_subject }
- content_for(:header_bottom) do
  :javascript
    $(function(){
      PR.Comments.init('#{comments_path}/');
    });

#article
  #article_bar
    = @article.full_subject
    .right
      - if current_user.admin?
        = link_to "Edit", edit_admin_article_path(@article)

      = link_to "Share this article", share_article_path(@article)

  - cache("article_body_#{@article.id}") do
    = md(@article.body)


  = render :partial => "articles/comments"
