- content_for(:header_bottom) do
  :coffeescript
    $ ->
      PR.Comments.init('#{comments_path}/')
      new PR.RoboBar('#{share_article_path(@article)}')

= render "header"

#article
  - cache("article_body_#{@article.id}") do
    = @article.body

= render "footer"

= render :partial => "articles/comments"
