- content_for(:header_bottom) do
  :coffeescript
    $ ->
      PR.Comments.init('#{comments_path}/')

- if current_user && current_user.admin?
  - content_for(:admin_bar) do
    %li= link_to "Edit Article", edit_admin_article_path(@article)

= render "header"

#article
  - cache("article_body_#{@article.id}") do
    = md(@article.body)

= render "footer"

= render :partial => "articles/comments"
