- if current_user.try(:active?)
  - content_for(:header_bottom) do
    :coffeescript
      $ ->
        PR.Comments.init('#{comments_path}/')

= render "header"

#article
  - cache("article_body_#{@article.id}") do
    = md(@article.body)


- if @comments
  = render :partial => "articles/comments"
- else
  #share-alert
    Practicing Ruby is a massive
    = link_to "open-access library of programming lessons", root_path
    for dedicated learners.
    %br
    Please support our ongoing work on this project by 
    = link_to "subscribing for $8/month.", new_subscription_path, 
      "data-redirect-warning" => true
