- content_for(:title) { @subject }
- content_for(:header_bottom) do
  :javascript
    $(function(){
      PR.Comments.init('#{comments_path}/');
    });

#article
  #article_bar
    = @article.full_subject
    .right
      = link_to "Share this article", share_article_path(@article)

  = md(@article.body)


  = render :partial => "comments"