- if current_user.try(:active?)
  - content_for(:header_bottom) do
    :coffeescript
      $ ->
        PR.Comments.init('#{comments_path}/')

= render "header"

#article
  %hr
  %p{:style => "text-align: center; font-size: 0.8em"}
    #{link_to "Practicing Ruby", "http://practicingruby.com"} #{@article.issue_number} ::
  
    - if @article.collaboration?
      Published on #{@article.published_date} in collaboration with a special guest.
    -else
      Published by #{link_to "Gregory Brown", "https://twitter.com/practicingruby"} on #{@article.published_date} 

  %hr 
  - cache("article_body_#{@article.id}") do
    = md(@article.body)

- if @comments
  = render :partial => "articles/comments"
- else
  #share-alert
    %h3 Thanks for reading this article! You're awesome.
    %hr
    %br
    If you are new to Practicing Ruby, #{link_to "see our complete archives", "https://practicingruby.com"} for many more programming lessons.
    %br
    %br
    If you already know and love our work, please
    = link_to "subscribe for $8/month", new_subscription_path, 
      "data-redirect-warning" => true
    to help keep the project going.
    %br
    %br
    %hr
    %br
    Practicing Ruby is an independent publication run by #{link_to "Gregory Brown", "https://twitter.com/practicingruby"}, with community contributions.
    %br
    %br
    This project has been supported solely by readers like you since 2010. We'll never run advertisements or use the materials on this site as content marketing for some other product or service.
    %br