- content_for(:header) { "Payment" }
- content_for(:title) { "Payment" }
- content_for :header_bottom do
  = javascript_include_tag "https://js.stripe.com/v1/"
  :coffeescript
    $ -> new PR.PaymentProcessor('#{STRIPE_PUBLISHABLE_KEY}');

%h3 You are so close. Just one last step.

%p All we need from you now is your payment information. We will bill this card $8.00 USD each month until you cancel your account, which you can do at any time.

.payment-errors

= form_tag registration_create_payment_path, :id => "payment-form" do
  .row
    %label Card Number
    %input.card-number{type: "text", size: 20, autocomplete: "off"}
  .row
    %label CVC
    %input.card-cvc{type:"text", size: 4, autocomplete: "off"}
  .row
    %label Card Expiration
    = select_month nil, { add_month_numbers: true },
      { name: nil, id: nil, class: "card-expiry-month" }
    = select_year nil,
      { start_year: Date.today.year, end_year: Date.today.year+15},
      { name: nil, id: nil, class: "card-expiry-year"}
  %hr
  %p
    = submit_tag "Submit Payment", :class => "submit-button"
    %span#processing-spinner