- content_for(:title) { "Subscribe" }
- content_for :header_bottom do
  = javascript_include_tag "https://js.stripe.com/v1/"
  :coffeescript
    $ -> new PR.PaymentProcessor('#{STRIPE_PUBLISHABLE_KEY}');

%h1
  Subscribe to
  %span.branded Practicing Ruby

%p
  All we need is your payment information. We can either bill this
  card $8.00 USD each month or once a year at $96.00 USD until you cancel your
  account, which you can do at any time.

%p
  Your payment details are sent directly to Stripe: For security reasons, we do
  not store your credit card number or other sensitive information.

= form_tag registration_create_payment_path, :id => "payment-form" do
  = render 'shared/credit_card'
  .billing-cycle
    %label Billing Cycle
    = label_tag 'interval_month', :class => "billing-option" do
      = radio_button_tag :interval, :month, true
      Monthly - $8.00 USD
    = label_tag 'interval_year', :class => "billing-option" do
      = radio_button_tag :interval, :year
      Yearly - $96.00 USD
  .email
    = label_tag :email, "Email Address (optional)"
    = email_field_tag :email, nil, :placeholder => 'gregory@practicingruby.com'
  - if params[:coupon].present?
    .coupon
      = label_tag :coupon, "Coupon Code"
      = text_field_tag :coupon, params[:coupon]
  .submit
    = submit_tag "â¤  Subscribe to Practicing Ruby",
      :class => "submit-button"
    %span#processing-spinner

