= error_messages_for(@user)

.field
  = f.label :contact_email, "Email:"
  = f.text_field :contact_email
%p
  = f.check_box :notify_conversations
  = f.label :notify_conversations, "Notify me when conversations start"
%p
  = f.check_box :notify_mentions
  = f.label :notify_mentions, "Notify me when I am mentioned in a conversation"
%p
  = f.check_box :notify_comment_made
  = f.label :notify_comment_made, "Notify me every time a comment is made"

%p
  = f.check_box :beta_tester
  = f.label :beta_tester, "Give me early access to experimental website features"
