- content_for(:title)  { "Billing" }

- content_for :settings_panel do
  = render :partial => 'sidebar', :locals => {:current => 'billing'}

  #billing-settings.setting-panel
    %h2 Subscription History

    - if @subscriptions.empty?
      %p
        Your subscription history is not available. If you have any questions
        about your account, please email
        #{mail_to "support@elmcitycraftworks.org"}.
    - else
      %table.table-bordered.table.table-hover
        %tr
          %th Start
          %th End
          %th Status
          %th Amount
        - @subscriptions.each do |subscription|
          %tr
            %td= subscription.start_date
            %td= subscription.finish_date
            %td= subscription.status
            %td= subscription.amount

    - if @user.payment_provider == "stripe"
      %p
        = link_to "Update your credit card", '#', :class => "btn update-cc"
        - if @credit_card
          %span#current-credit-card Current Card: #{@credit_card.description}

    #update-credit-card
      %h1 Update your credit card

      = form_tag update_credit_card_path, :id => "payment-form" do
        = render 'shared/credit_card'
        %hr
        %p
          = submit_tag "Update", :class => "submit-button"
          %span#processing-spinner

= render 'settings_page'