- content_for(:title)  { "Billing" }

- content_for :settings_panel do
  = render :partial => 'sidebar', :locals => {:current => 'billing'}

  #billing-settings.setting-panel
    - if @active_subscription && @active_subscription.payment_provider == "stripe"
      = link_to "Switch to #{@active_subscription.alternate_billing_interval}ly billing", '#confirm-interval-change',
        :class => 'pull-right btn btn-small', :id => 'change-billing-interval'
    %h2 Subscription History

    - if @subscriptions.empty?
      %p
        Your subscription history is not available. If you have any questions
        about your account, please email
        #{mail_to "support@elmcitycraftworks.org"}.
    - else
      %table.table-bordered.table.table-hover
        %thead
          %tr
            %th Start
            %th End
            %th Status
            %th Amount
        %tbody
          - @subscriptions.each do |subscription|
            %tr
              %td= subscription.start_date
              %td= subscription.finish_date
              %td= subscription.status
              %td= subscription.amount

    - if @active_subscription && @active_subscription.payment_provider == "stripe"
      %p
        = link_to "Update credit card", '#',
          :class => "btn btn-small update-cc"
        - if @credit_card
          %span#current-credit-card Current Card: #{@credit_card.description}
    - if @active_subscription
      #confirm-interval-change
        %h1 Change your billing cycle

        = @active_subscription.change_billing_interval_message

    #update-credit-card
      %h1 Update your credit card

      = form_tag update_credit_card_path, :id => "payment-form" do
        = render 'shared/credit_card'
        %hr
        %p
          = submit_tag "Update", :class => "submit-button"
          %span#processing-spinner

= render 'settings_page'
