%h2 Settings

= form_for @user do |f|
  = error_messages_for(@user)

  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.submit "Update Settings"