- content_for(:title)  { "Notification Settings" }

- content_for :settings_panel do
  = render :partial => 'sidebar', :locals => {:current => 'notifications'}

  = form_for @user, :html => {:class => "setting-panel edit_user"} do |f|
    = hidden_field_tag :current_page, :notifications
    .info
      All notifications will be sent to #{@user.contact_email}
    %hr

    = f.label :notify_updates do
      = f.check_box :notify_updates
      Notify me about content and website updates

    = f.label :notify_conversations do
      = f.check_box :notify_conversations
      Notify me when conversations start

    = f.label :notify_mentions do
      = f.check_box :notify_mentions
      Notify me when I am mentioned in a conversation

    = f.label :notify_comment_made do
      = f.check_box :notify_comment_made
      Notify me every time a comment is made

    %hr
    %p
      = f.submit "Update Settings"

= render 'settings_page'
