- content_for :settings_panel do
  = render :partial => 'sidebar', :locals => {:current => 'profile'}

  = form_for @user, :html => {:class => "setting-panel edit_user"} do |f|
    = hidden_field_tag :current_page, :profile
    = error_messages_for(@user)
    .field
      = f.label :contact_email, "Email Address"
      = f.text_field :contact_email
      = @user.decorate.icon(30, :title => "Change your avatar at Gravatar.com")
    %p
      = f.label :beta_tester do
        = f.check_box :beta_tester
        Give me early access to experimental website features
    %hr
    %p
      = f.submit "Update Settings"
      = link_to "Unsubscribe from Practicing Ruby", user_path(@user), :method => :delete,
        :data => {:confirm => "Are you sure you want to unsubscribe?"},
        :id => "cancel"
      %span.cancel-notice.info Cancellation may take up to 24 hours

= render 'settings_page'
