= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
= link_to '#', :id => 'admin-bar-toggle', :data => {:toggle => "#admin-bar"} do
  %i.icon-cog
#admin-bar
  .placeholder
  .nav
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Archives", archives_path
      %li= link_to "Shuffle", random_article_path
      %li= link_to "Contact", contact_path
      - if current_user.try(:status) == "active"
        %li.right= link_to "Log out", logout_path
        %li.right= link_to "Settings", user_settings_path
        - if current_user.try(:admin)
          = yield(:admin_bar)
      - else
        - if current_user
          %li.right= link_to "Log out", logout_path
        - else
          %li.right= link_to "Log in", login_path
        %li.right= link_to "Subscribe", subscriptions_path

