%nav
  = link_to '#', :id => 'nav-toggle', :data => {:toggle => "nav"} do
    %i.fa.fa-angle-double-up
    %i.fa.fa-angle-double-down
  .placeholder
  .nav
    %ul
      - if current_user.try(:active?)
        %li= link_to "Articles", articles_path
        %li= link_to "Archives", articles_path(:anchor => "archives")
      - else
        %li= link_to "Public Archives", root_path
      %li= link_to "Contact", contact_path
      - if current_user.try(:active?)
        %li.right= link_to "Log out", logout_path
        %li.right= link_to "Settings", user_settings_path
        - if current_user.try(:admin)
          = yield(:admin_bar)
      - else
        - if current_user
          %li.right= link_to "Log out", logout_path
        - else
          %li.right= link_to "Log in", login_path
        %li.right= link_to "Subscribe", subscriptions_path,
          :class => "subscribe"
