%nav
  %ul
    - unless current_user.try(:active?)
      %li= link_to "Home", root_path
      %li= link_to "About Us", about_path
    - else
      %li= link_to "Home", articles_path
      %li= link_to "Chat", "https://practicingruby.slack.com"
    %li= link_to "Open Source", open_source_path
    %li= link_to "Blog", "http://blog.practicingruby.com"
    %li= link_to "Twitter", "http://twitter.com/practicingruby"
    - if current_user.try(:active?)
      %li.right= link_to "Log out", logout_path
      %li.right= link_to "Settings", user_settings_path
    - else
      - if current_user
        %li.right= link_to "Log out", logout_path
      - else
        %li.right= link_to "Log in", login_path
        %li.right
          = link_to "Subscribe", new_subscription_path, :style => "color: #B03C2E",
            "data-redirect-warning" => !current_user
