- if @hide_nav
  = link_to root_path, :id => "home-run" do
    %i.fa.fa-home
- else
  %nav
    %ul
      %li= link_to "Home", root_path
      - unless current_user.try(:active?)
        %li= link_to "Public Archives", root_path(:anchor => "public-archives")
      - else
        %li= link_to "Archives", articles_path(:anchor => "archives")
      %li= link_to "Contact", contact_path
      - if current_user.try(:active?)
        %li.right= link_to "Log out", logout_path
        %li.right= link_to "Settings", user_settings_path
        - if current_user.try(:admin)
          = yield(:admin_bar)
      - else
        - if current_user
          %li.right= link_to "Log out", logout_path
        - else
          %li.right= link_to "Log in", login_path
