- content_for :header do
  %h1 
    About Practicing Ruby

#landing
  %p{:style => "font-size: 1.1em"}
    We provide concentrated doses of programming experience across a wide range
    of different topics. Each lesson you'll find here is packed with context-rich code samples and in-depth
    explanations to help you connect what you learn to practical applications
    in the real world.

  %p
    Practicing Ruby's 
    = link_to "complete library", root_path
    is freely available under the CC BY-SA license. See our
    = link_to "Open Source", open_source_path
    page for all our code and manuscripts, including the
    Rails app that runs this website.

  %p
    Our lessons are developed by #{link_to "Gregory Brown", "https://twitter.com/practicingruby"}, 
    in collaboration with the Ruby community. 

  %div{:style => "border: 1px solid #ccc; padding: 10px; background: #fff"}
    %p{:style => "font-size: 1.2em"}
      We're proud to be a reader-focused, reader-funded publication.
  
    %p 
      Instead of showing advertisements, seeking corporate sponsorship,
      or using this website as "content marketing",
      we rely on subscription revenue to fund Practicing Ruby's development. 

    %p
      To help us publish independent, in-depth learning materials, please 
      = link_to "become a paid subscriber", new_subscription_path,
          "data-redirect-warning" => !current_user
      for only $8/month. You'll be joining a dedicated group
      of supporters who have kept Practicing Ruby up and running since 2010.

      %p
        As a subscriber, you'll also gain access to a private Slack chat and Discourse
        forum, where you can connect with Gregory and other Practicing Rubyists.


%p{:style => "text-align: center"}= link_to "Return to Practicing Ruby's archives", root_path
