- content_for :header do
  %h1 
    About Practicing Ruby

#landing
  %p
    Practicing Ruby is an open-access journal for dedicated programmers.
    Our lessons are developed by #{link_to "Gregory Brown", "https://twitter.com/practicingruby"}, 
    with support and contributions from the Ruby community. 
    
  %p
    The articles you'll find on this website provide concentrated doses
    of knowledge in a wide range of different areas. Rather than
    watering things down, we use context-rich code samples and clear
    explanations to connect what you've learned to practical
    applications in the real world.

  %p
    = link_to "All of our published content", root_path
    is freely available under the CC BY-SA license. See our
    = link_to "F/OSS page", open_source_path
    for all the relevant source repositories, including the code
    that runs this website.

  %div{:style => "border: 1px solid #ccc; padding: 10px; background: #fff"}
    %p YOU CAN BECOME A PAID SUBSCRIBER TO SUPPORT OUR WORK ON PRACTICING RUBY!

    %p
      We rely entirely on our readers to fund this project. 
      To help us publish independent, in-depth learning materials, please 
      = link_to "become a paid subscriber", new_subscription_path,
          "data-redirect-warning" => !current_user
      for only $8/month.
    %p
      By subscribing, you'll be directly funding 
      = link_to "our eighth volume,", "http://elmcitycraftworks.org/post/97065188738/plans-for-practicing-ruby-volume-8"
      = "which we hope to complete by mid-2015."
      We're hoping to release new content every few weeks on average, and will
      occasionally run subscriber-only events and activities to show appreciation
      for our supporters.

%br

= image_tag "ruby-divider.png"

%p{:style => "text-align: center"}= link_to "Return to the Practicing Ruby homepage", root_path
