#top-bar
  %ul
    %li= link_to "Sign in", login_path

#landing
  #banner
    %h1 Practicing Ruby
    %h2 A unique journal curated by Gregory Brown
    = image_tag "ruby-divider.png"
  #details
    %h3 We publish fantastic articles for Ruby programmers every two weeks

    %p
      Practicing Ruby exists to help you become a better programmer, not
      to get you to click advertisements or to hire us as consultants. With
      that in mind, we don't just focus on what is trendy; we publish 
      content that will truly level up your skills. You will also find
      that Practicing Ruby articles are more polished than the average blog
      post in pretty much every imaginable way.

    %p
      But please don't accept these claims on blind faith, look through a 
      few of our articles right now and decide for yourself! I've hand 
      picked four great articles from our collections for 
      you to try out:

    #sample-articles
      %h2#sample-header Sample articles
      = link_to 'http://practicingruby.com/articles/shared/eislpkhxolnr',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("ruby.png")
          .article Building Enumerable & Enumerator in Ruby
      = link_to 'http://practicingruby.com/articles/shared/yfildjshgzew',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("tower.png")
          .article "Unobtrusive Ruby" in Practice
      = link_to 'http://practicingruby.com/articles/shared/iptocucwujtj',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("chess.png")
          .article Domain specific API construction
      = link_to 'http://practicingruby.com/articles/shared/zmkztdzucsgv',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("nuts_bolts.png")
          .article Tricks for working with text and files

      .clear
    
    %p
      For only $8/month, you'll get instant access to
      = @article_count
      articles just like these, and will receive newly
      published content every other week. You'll also be
      able to participate in great discussions with Gregory
      and your fellow Practicing Rubyists. Not a bad deal, right?

    %p
      Click the big red button below to become a
      subscriber. We'll authorize you via Github,
      send you a confirmation email, and collect 
      your payment information via Stripe. Once
      that's taken care of, you'll be able to
      start enjoying Practicing Ruby right away.

    #library= link_to "Subscribe to Practicing Ruby".html_safe, subscribe_path

    %p
      If you have any questions, email 
      = mail_to "gregory@practicingruby.com"
      or send a tweet to
      #{link_to "@practicingruby", "http://twitter.com/practicingruby"}.


