%header
  = link_to "Updates", announcements_path
  = link_to "FAQ", faq_community_path
  = link_to "Support", '#TODO'
  %span.account
    = link_to "Subscribe", '#TODO'
    = link_to "Sign in", login_path

#title Practicing Ruby

#banner
  #top A unique trade journal curated by Gregory Brown
  #side
    %h2
      For just
      %span.green $8/month
      you get access to:
%footer
  Practicing Ruby’s web app is open source.
  = link_to "Fork the project on GitHub.",
    "https://github.com/elm-city-craftworks/practicing-ruby-web"