#top-bar
  %ul
    %li= link_to "Sign in", login_path

#landing
  #banner
    %h1 Practicing Ruby
    %h2 Delightful coding lessons published every two weeks
    = image_tag "ruby-divider.png"
  #details

    %p
      The path to becoming a great programmer requires you
      to learn something new every day. It is an endless
      journey with no shortcuts to it, but how quickly and
      comfortably you travel depends on the resources
      you have available to you. Here at Practicing Ruby,
      we've spent years building finely crafted roadmaps 
      that will help you find your way through this complicated
      field of ours.

    %p
      The lessons we teach build a bridge between complex programming
      concepts and reality by presenting well-crafted
      examples within meaningful contexts. Whenever you read one
      of our articles, you can expect to see practical demonstrations,
      not just hand-wavey abstractions. To see what we mean by that, check out 
      any of the four sample articles listed below:

    #sample-articles
      = link_to 'http://practicingruby.com/articles/shared/eislpkhxolnr',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("ruby.png")
          .article Building Enumerable & Enumerator in Ruby
      = link_to 'http://practicingruby.com/articles/shared/yfildjshgzew',
        :class => "box left" do
        .inner
          = CollectionDecorator.icon("tower.png")
          .article "Unobtrusive Ruby" in Practice
      = link_to 'http://practicingruby.com/articles/shared/iptocucwujtj',
        :class => "box" do
        .inner
          = CollectionDecorator.icon("chess.png")
          .article Domain specific API construction
      = link_to 'http://practicingruby.com/articles/shared/zmkztdzucsgv',
        :class => "box left" do
        .inner
          = CollectionDecorator.icon("nuts_bolts.png")
          .article Tricks for working with text and files

      %p
        For only $8/month, you can get instant access to
        = @article_count
        articles just like these, and will receive newly
        published content every other week. You'll also be
        able to have great conversations with
        your fellow Practicing Rubyists. Not a bad deal, right?

      %p{:style => "font-variant: small-caps; text-align: center"}
        Click the big red button below to subscribe. We'll authorize you via Github,
        send you a confirmation email, and collect 
        your payment information securely via Stripe. Once
        that's taken care of, you'll gain immediate access
        to Practicing Ruby's complete collection of articles.

      #library= link_to "Subscribe to Practicing Ruby ($8/month)".html_safe, subscribe_path

      %p
        Practicing Ruby is curated by Gregory Brown, with contributions from the Ruby community.
        If you have any questions, email 
        = mail_to "gregory@practicingruby.com"
        or send a tweet to
        #{link_to "@practicingruby", "http://twitter.com/practicingruby"}.

      %p{:style => "font-size: 0.8em; text-align: center"}
        %small We believe that Practicing Ruby offers tremendous value for the price,
        but we know that "affordable" is a relative term that depends on individual 
        circumstances. If you have to think twice about whether you'd be financially comfortable with paying our
        full subscription fee, please email us and request
        a discounted or free acount. We'll set you up with one, no questions asked.
