#top-bar
  %ul
    %li= link_to "Subscribe", subscribe_path
    %li= link_to "Sign in", login_path

#landing
  #banner
    %h1 Practicing Ruby
    %h2 A unique journal curated by Gregory Brown
    %p
    = image_tag "ruby-divider.png"
  #details
    %h3 We publish fantastic articles for Ruby programmers every two weeks

    %p
      Practicing Ruby exists to help you become a better programmer, not
      to get you to click advertisements or to hire us as consultants. With
      that in mind, we don't just focus on what is trendy; we publish 
      content that will truly level up your skills. You will also find
      that Practicing Ruby articles are more polished than the average blog
      post in pretty much every imaginable way.

    %p
      But please don't accept these claims on blind faith, look through a 
      few of our articles right now and decide for yourself! I've hand 
      picked four great articles from our collections for 
      you to try out:

    #sample-articles
      = link_to 'http://practicingruby.com/articles/shared/eislpkhxolnr',
        :class => "box" do
        .inner
          = @ruby.icon
          .article Building Enumerable & Enumerator in Ruby
      = link_to 'http://practicingruby.com/articles/shared/yfildjshgzew',
        :class => "box left" do
        .inner
          = @ivory_towers.icon
          .article "Unobtrusive Ruby" in Practice
      = link_to 'http://practicingruby.com/articles/shared/iptocucwujtj',
        :class => "box" do
        .inner
          = @strategery.icon
          .article Domain specific API construction
      = link_to 'http://practicingruby.com/articles/shared/zmkztdzucsgv',
        :class => "box left" do
        .inner
          = @nuts_bolts.icon
          .article Tricks for working with text and files


      %p
        For only $8/month, you'll get instant access to
        = @article_count
        articles just like these, and will receive newly
        published content every other week. You'll also be
        able to participate in great discussions with Gregory
        and your fellow Practicing Rubyists. Not a bad deal, right?

  #library= link_to "Subscribe to Practicing Ruby".html_safe, subscribe_path
