%h2 By Volume

- Volume.all.each do |v|
  %p
    = link_to "Volume #{v.number}", "/volume/#{v.number}"
    = v.description

%h2 By Collection

- Collection.all.each do |c|
  %p
    = link_to c.name, "/collection/#{c.slug}"
    = c.description
