- content_for(:title) { "Explore" }
- content_for(:header) { "Exploring our library" }

%p
  There are #{@article_count} articles in our archives, and
  new content is added every month. If you're unsure where to get started, or
  just want to catch up on what was recently published, try out one
  of the following articles:

%table#articles
  %thead
    %tr
      %th.recent Recently published articles
      %th.recommended Recommended articles
  %tbody
    - @recent.zip(@recommended).each_with_index do |(recent, recommended), index|
      %tr{class: "row_#{index}"}
        %td.recent
          = link_to article_path(recent), class: ('bottom' if index == 4) do
            %strong= recent.list_title
            .description
              #{recent.issue_number}, #{recent.published_time.strftime("%B %Y")}
        %td.recommended
          = link_to article_path(recommended), class: ('bottom' if index == 4) do
            %strong= recommended.list_title
            .description
              #{recommended.issue_number}, #{recommended.published_time.strftime("%B %Y")}

%p
  Once you've read some of these articles, check out our
  = link_to "complete archives", archives_path
  or try a #{link_to "randomly selected issue", random_article_path}.
