- content_for(:title) { "Explore" }
= render "shared/branded_header", :title => "Home"

%p
  There are
  #{link_to "#{@article_count} articles in our archives", archives_path},
  and new content is added every month. If you're unsure where to get started, or
  just want to catch up on what was recently published, try out one
  of the following articles:

#explore-articles
  #recent
    %h2 Recently published articles
    - @recent.each_with_index do |article, index|
      = render "explore_article", article: article, index: index
  #recommended
    %h2 Recommended articles
    - @recommended.each_with_index do |article, index|
      = render "explore_article", article: article, index: index

%p.center
  Once you've read these articles, check out our
  = link_to "complete archives", archives_path
  or try a #{link_to "randomly selected issue", random_article_path}.
