- content_for(:header) do
  %h1
    All of Practicing Ruby is free and open source.

%p
  The spirit of community contribution for the public good is
  baked into everything we do here.

%h3 Our programming lessons are free documentation.
%p
  The
  = link_to "Markdown-formatted manuscripts",
    "http://github.com/elm-city-craftworks/practicing-ruby-manuscripts"
  for all of our articles are freely available under the Creative Commons
  Attribution-Sharealike license.

%h3 Our web application is free software.

%p
  The
  = link_to "Rails application",
    "http://github.com/elm-city-craftworks/practicing-ruby-web"
  that powers practicingruby.com is freely available under the GNU Affero GPL
  + maintained by Gregory Brown and Jordan Byron.

%p
  Mathias Lafeldt has also developed a
  = link_to "Chef cookbook",
    "http://github.com/elm-city-craftworks/practicing-ruby-cookbook"
  that sets up a production-like testbed environment for our web application.
  It is freely available under the Apache License 2.0.


%h3 We also work on other F/OSS projects.

%p
  We don't just produce educational materials, we also work on projects that
  directly help people, both programmers and non-programmers alike:

%ul{:style => "padding-left: 20px"}
  %li
    Gregory Brown is original author of the
    = link_to "Prawn PDF generation toolkit for Ruby.", "http://prawn.majesticseacreature.com"
  %li
    Jordan Byron developed a Rails-based
    = link_to "clinic management system", "https://github.com/mission-of-mercy/mission-of-mercy#readme"
    to support the Mission of Mercy charitable healthcare organization.

%hr

%p{:style => "text-align: center"}= link_to "Return to Practicing Ruby's archives", root_path
