
= error_messages_for(@announcement)

/ %p
/   = f.label :title
/   = f.text_field :title
/
/ %p
/   = f.label :author_id
/   = f.select :author_id,
/     User.where(:admin => true).order("first_name").map {|c| [c.first_name, c.id]}

%p
  = f.check_box :broadcast
  = f.label :broadcast

%p
  = f.label :broadcast_message
  = f.text_field :broadcast_message

%p
  = f.label :url, "Broadcast URL"
  = f.text_field :url


/ #announcements= f.text_area :body, 'data-preview' => true

%p
  = f.submit
  = link_to "Cancel", admin_announcements_path