- content_for(:header) { "Broadcast Mailer" }
- content_for(:title)  { "Broadcast Mailer" }

= form_tag admin_broadcasts_path, :class => "broadcast-mailer" do
  %p
    = label_tag :subject
    = text_field_tag :subject, params[:subject]
  %p
    = label_tag :body
    %br
    = text_area_tag :body, params[:body], :cols => 72

  %p= submit_tag "Send"

- content_for :header_bottom do
  :javascript
    $(function(){ $('textarea').elastic(); });
