= render "shared/branded_header", :title => "Subscribe"

%p
  Practicing Ruby articles are jam-packed with meaningful code samples and clear
  explanations that help you level up your programming skills. Since 2010,
  our carefully designed content has helped countless Ruby programmers get
  better at their craft in a fun and efficient way.

  %p
    For only $8/month, you can get instant access to
    = link_to "#{@article_count} articles on a wide range of topics", archives_path
    and will receive newly
    published content every month. You'll also be
    able to have great conversations with
    your fellow Practicing Rubyists. Not a bad deal, right?

  %p.instructions
    Click the big red button below to subscribe. We'll authorize you via Github,
    collect your payment information securely via Stripe, and send you a
    confirmation email. Once that's taken care of, you'll gain immediate access
    to Practicing Ruby's complete collection of articles.

  = link_to "Subscribe to Practicing Ruby ($8/month)", new_subscription_path,
    :id => "subscribe", "data-redirect-warning" => !current_user

  %p
    Practicing Ruby is curated by Gregory Brown, with contributions from the
    Ruby community. If you have any questions,
    #{link_to "contact us", contact_path} and we'll get back to you quickly.
