- content_for(:header) { "Reports" }
- content_for(:title)  { "Reports" }

%h3 Active subscribers by payment method

%table#reports
  %tr
    %th Payment method
    %th Count
  - @statuses.each do |e|
    %tr
      %td= e.payment_provider.humanize
      %td.num= e.user_count
  %tr
    %th Total paid accounts
    %th.num= @total_users

%p 
  Activity:
  = @activity

%p 
  Activation:
  = @activation
