- content_for(:header) { "Reports" }
- content_for(:title)  { "Reports" }

%h3 Active subscribers by payment method

%table#reports
  %tr
    %th Payment method
    %th Count
  - Reports.payment_provider_counts.each do |e|
    %tr
      %td= e.payment_provider.humanize
      %td.num= e.user_count
  %tr
    %th Total paid accounts
    %th.num= Reports.paid_subscriber_count

%h3 Activity and Activation

%p 
  Activity:
  = Reports.activity

%p 
  Activation:
  = Reports.activation

%h3 Recent signups

%ul
  - Reports.recent_signups.each do |e|
    %li= e


%h3 Recent cancellations

%ul
  - Reports.recent_cancellations.each do |e|
    %li= e
