!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Practicing Ruby

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render :partial => "shared/flash", :locals => {:flash => flash}

    = render :partial => "shared/upper_navigation"
    #content
      %i
        %span{:style => "float: right; padding-top: 30px; text-align: center; font-size: 1.1em"}
          An eclectic journal for the dedicated hacker 
          %br
          lovingly curated by Gregory Brown
      %h1#header= link_to "Practicing Ruby", home_path

      %hr  
      = render :partial => "shared/broadcasts"
      = yield
