!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Practicing Ruby

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = render :partial => "shared/ios_icon"

    = yield(:header_bottom)

  %body{class: "#{controller.controller_name}-#{controller.action_name}"}
    = yield(:nudge)
    - if active_broadcasts.any?
      #top-bar= render "shared/broadcasts"

    = render :partial => "shared/flash", :locals => { :flash => flash }

    - unless request.url[/shared/]
      = render :partial => "shared/navigation"

    %header
      - if current_user && current_user.admin?
        #admin= yield :admin
      = yield(:header)
    #content
      = yield
      %footer
        = yield(:footer)

    :javascript
      PR.immediate();
