!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Practicing Ruby

    = stylesheet_link_tag 'application', 'compiled/screen', 'pygments'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.jeditable', 'pr.comments', 'pr.preview',
                             'save'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render :partial => "shared/flash", :locals => {:flash => flash}
    #content
      %h1#header= link_to "Practicing Ruby", home_path
      = render :partial => "shared/navigation"
      = yield