<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? controller_name.humanize : yield(:title) %> - Practicing Ruby</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <%= yield(:header_bottom) %>
</head>
<body>

<%= render :partial => "shared/flash", :locals => {:flash => flash} %>

<div id="content">
  <%= link_to home_path, :id => "header" do %>
    <%= image_tag("robo-banner.png") %>
    <h1>Practicing Ruby</h1>
  <% end %>
  <%= render :partial => "shared/navigation" %>
  <%= yield %>
  <hr>
  <div id="footer">
      <p>CREDIT: The Practicing Ruby robot logo is inspired by <a href="http://www.flickr.com/photos/crystalflickr/392972359/">this robot on Flickr</a></p>
    </div>
</div>
</body>
</html>
