<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? controller_name.humanize : yield(:title) %> - Practicing Ruby</title>

  <%= stylesheet_link_tag 'application', 'compiled/screen' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.jeditable', 'pr.comments', 'pr.preview' %>
  <%= csrf_meta_tag %>

  <%= yield(:header_bottom) %>
</head>
<body>

<%= render :partial => "shared/flash", :locals => {:flash => flash} %>

<div id="content">
  <h1 id="header"><%= link_to "Practicing Ruby", home_path %></h1>
  <%= render :partial => "shared/navigation" %>
  <%= yield %>
</div>
</body>
</html>
