<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? controller_name.humanize : yield(:title) %> - Practicing Ruby</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
  <%= link_to image_tag("robo-banner.png"), home_path %>
  <%= yield %>
  <hr>
  <div id="footer">
      <p>CREDIT: The Practicing Ruby robot logo is inspired by <a href="http://www.flickr.com/photos/crystalflickr/392972359/">this robot on Flickr</a></p>
    </div>
</div>
</body>
</html>
