!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      - unless yield(:title) && yield(:title)[/Practicing Ruby/]
        \- Practicing Ruby

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = render :partial => "shared/ios_icon"

    = yield(:header_bottom)

  %body{class: "#{controller.controller_name}-#{controller.action_name}"}
    = render :partial => "shared/navigation"
    = render :partial => "shared/broadcasts"
    = render :partial => "user_email/warning"
    = render :partial => "shared/flash", :locals => { :flash => flash }

    = yield(:nudge)

    %header= yield(:header)
    #content
      = yield
      %footer
        = yield(:footer)

    :javascript
      PR.immediate();
