!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Practicing Ruby

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = render :partial => "shared/ios_icon"

    = yield(:header_bottom)

  %body{class: "#{controller.controller_name}-#{controller.action_name}"}
    = render :partial => "shared/admin_bar"
    - if active_broadcasts.any? && current_user.try(:status) == "active"
      #top-bar= render "shared/broadcasts"

    = render :partial => "shared/flash", :locals => { :flash => flash }

    = yield(:nudge)

    %header= yield(:header)
    #content
      = yield
      %footer
        = yield(:footer)

    :javascript
      PR.immediate();
