!!! 5
%html{:lang => 'en'}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
    - if yield(:description)
      %meta{:name => "description", :content => yield(:description)}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = auto_discovery_link_tag(:atom, archives_public_url(:atom), title: "Practicing Ruby")

    = render :partial => "shared/ios_icon"

    = yield(:header_bottom)

  %body{class: "#{controller.controller_name}-#{controller.action_name}"}
    = render :partial => "shared/navigation" unless @skip_navbar
    = render :partial => "shared/broadcasts"
    = render :partial => "user_email/warning"
    = render :partial => "shared/flash", :locals => { :flash => flash }

    = yield(:nudge)

    %header= yield(:header)
    #content
      = yield
      %footer
        = render(:partial => "shared/branded_footer") if @branded_footer
    :javascript
      PR.immediate();
