!!! 5
%html{:lang => 'en'}
  %head
    %title Practicing Ruby | A unique journal curated by Gregory Brown

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = render :partial => "shared/ios_icon"

    = yield(:header_bottom)

  %body.landing= yield
